bucket         = "REPLACE-me-serverless-health-check-tfstate"
key            = "serverless-health-check/staging/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "serverless-health-check-tf-locks"
encrypt        = true
